@import '../../common/func.styl'
.treatmentitem1
    width:torem(1200)
    //height:torem(400)
    margin:0 auto
    border-radius:torem(16)
    //background:#fff
    margin-top:torem(30)
    text-align:center
    img
        width:100%
        border-radius:torem(16)
        //height:100%
.treatmentitem2
    width:torem(1200)
    height:torem(856)
    margin:0 auto
    border-radius:torem(16)
    background:#fff
    margin-top:torem(30)
    text-align:center
    padding-top:torem(100)
    .tr
        .pp
            color:#000
            font-size:torem(32)
            margin-bottom:torem(74)
        .div1
            font-size:torem(16)
            color:#666
            p
                margin:10px 0
    .middleP
        width:25%
        margin:0 auto
        margin-top:torem(60)
        margin-bottom:torem(60)
        border-bottom:1px dashed #999
.treatmentitem2
    .div2
        font-size:torem(16)
        color:#666
        p
            margin:10px 0

.aboutmall
    a
        color:#ff9800!important
