@import '../../../../common/func.styl'
//八大核心功能的下划线
.spanStyle
    display:block
    width: 50px
    border-bottom: 1px solid #333
    margin:0 auto
.functionCon
    margin:0 auto
    //margin-top:torem(120)
    //width:1200px
    width:torem(1600)
    position:relative
    left:torem(85)
    &:after
        after()
    .functionitem
        float:left
        margin-right:torem(170)
        text-align:center
        .title
            font-size:24px
            color:#333
            margin-bottom:20px
            text-align:center
            &:hover
                color:#ff9800
        .detail
            color:#999
            font-size:18px
            text-align:center
            .detail1
                border-right:1px solid #999
                padding-right:10px
            .detail2
                padding-left:10px


