@import '../../../../common/func.styl'
//八大核心功能的下划线
.spanStyle
    display:block
    width: 50px
    border-bottom: 1px solid #333
    margin:0 auto
.thiefFun
    margin:0 auto
    height:torem(80)
    background:#fafafa
    font-size:torem(20)
    color:'#666'
    width:torem(1200)
    line-height:torem(80)
    border-top-right-radius:16px
    border-top-left-radius:16px
    border-bottom:1px solid #dbdbdb
.bottomFun
    margin:0 auto
    height:torem(40)
    background:#fafafa
    width:torem(1200)
    border-bottom-right-radius:16px
    border-bottom-left-radius:16px
    //border-bottom:1px solid #dbdbdb
.functionCon
    margin:0 auto
    display:flex
    flex-wrap:wrap
    justify-content:flex-start
    //align-content:space-between
    width:torem(1200)
    background:#fff
    //position:relative
    //left:torem(85)
    //&:after
        //after()
    .functionitem
        //float:left
        //margin-right:torem(170)
        width:25%
        height:torem(328)
        text-align:center
        box-sizing:border-box
        
        border-bottom:1px solid #dbdbdb
        .title
            font-size:torem(20)
            color:#333
            margin-bottom:20px
            text-align:center
            &:hover
                color:#ff9800
        .detail
            color:#999
            font-size:torem(16)
            text-align:center
            .detail1
                border-right:1px solid #999
                padding-right:torem(10)
            .detail2
                padding-left:torem(10)
.am-icon-check
    border-right:1px solid #dbdbdb


