@import '../../common/func.styl'
.treatmentitem
    width:torem(1200)
    height:torem(400)
    margin:0 auto
    border-radius:torem(16)
    background:#fff
    margin-top:torem(30)
    display:flex
.treattag
    flex:1
    display:flex
    justify-content:center
    align-items:center
    img
        max-width:70%
        //height:40%
.rightCon
    flex:1.5
    display:flex
    justify-content:center
    align-items:center
    .centerCon
        width:60%
        height:60%
        .title
            font-size:torem(24)
            color:#333
            margin-bottom:torem(42)
        .con
            .cona
                margin-bottom:torem(40)
                .title
                    font-size:torem(18)
                    color:#666
                    margin-bottom:torem(20)
                .content
                    font-size:torem(14)
                    color:#999
.treatmentmall
    a
        color:#ff9800!important
