@import '../func.styl'
.foot
    height:torem(404)
    display:flex
    .footItem
        flex:1
        text-align:center
        display:flex
        justify-content:center
        align-items: baseline
        margin-top:torem(100)
        .content
            height:torem(202)
            width:100%
            .title
                font-size:torem(22)
                color:#333
                margin-bottom:torem(46)
                font-weight:bold
            .detail
                font-size:torem(16)
                color:#999
                text-align:center
                span
                    margin-right:torem(12)
                .buttonA
                    display:inline-block
                    width:torem(120)
                    height:torem(36)
                    line-height:torem(36)
                    text-align:center
                    border-radius:8px
                    color:#333
                    font-size:torem(14)
                    border:1px solid #999
.footItemR
    border-right:1px solid #eee
.lineHeight
    p
        margin-bottom:10px
//.detailSpecial1
   // text-align:left!important
    //display:inline-block
    //margin:0 auto
.detailSpecial2
    //text-align:left!important
    //display:inline-block
    //margin:0 auto
    img
        width:torem(26)
        height:torem(30)
