@import '../../../../common/func.styl'
.tiyanCon
    width:torem(1200)
    margin:0 auto
    height:torem(276)
    padding:torem(76) 20px
    display:flex
    background:#fff
    border-bottom-right-radius:16px
    border-bottom-left-radius:16px
    .tiyanConItemR
        border-right:1px solid #dbdbdb
    .tiyanConItemL
        //margin-left:torem(40)
    .tiyanConItem
        display:flex
        flex:1
        .imgMarginLeft
            margin-left:20px
        .imgMargin
            margin-right:torem(40)
            font-size:0
            width:torem(130)
            height:torem(130)
            img
                //max-width:torem(124)
                width:100%
                height:100%
        .titletwo
            margin-bottom:torem(10)
        .dtFont
            font-size:torem(24)!important
            color:#333
            margin-bottom:torem(30)
            margin-top:torem(12)
            .dot
                position:relative
                text-align:center
                top:-8px
                left:5px
                //height:torem(24)
                //line-height:torem(24)
                //margin-top:-20px
        .ddFont
            font-size:torem(16)
            color:#999
            //nowrap()
.todetail
    background:#ff9800
    display:inline-block
    width:torem(120)
    height:torem(42)
    line-height:torem(42)
    color:#fff
    text-align:center
    border-radius:8px
    position:absolute
    top:50%
    transform:translateY(-50%)
    right:30px
.allLogo
    width:100%
    //height:atuo
    //max-width:100%
    //max-height:100%
.tiyanConDown
    height:auto
    div
        width:100%
        height:100%


